<head>
  <title>B&GC Minecraft Competition</title>
</head>

<body>
	{{> intro }}
	{{> minecraft }}
	{{> signup }}
	{{> rules }}
	{{> awards }}
	{{> participants }}
	{{> footer }}
</body>

<template name="intro">
	<div class="container-intro">
		<div class="container-narrow">
			<div class="jumbotron">
				<img src="tools.png" alt="Image of a Minecraft Diamond" height="200" width="200">
				<h1>Minecraft Creative Competition</h1>
				<p class="lead">
					The first <span class="label label-info">Boys and Girls Club of Stamford</span> Minecraft Competition will take place <span class="label label-info">Tuesday, January 08 - Friday, January 18, 2013.</span> All participants will produce a creation of their choice during this time. Subsequently, submissions will be judged and winners will be awarded according to three distinct catgories. Good luck & Have fun! If you're wondering what Minecraft is, <a href="#minecraft">click here</a>. The rules can be found <a href="#rules">here</a> and the awards can be seen <a href="#awards">here</a>.
				</p>
				<a class="btn btn-large btn-success" href="#signup">Sign up today</a>
			</div>
		</div>
	</div>
</template>

<template name="minecraft">
	<div class="container-minecraft">
		<div class="container-narrow">
			<h1 class="ribbon_mine" id="minecraft"></h1>
			<blockquote>"Minecraft is an open world adventure/building game that you can play by yourself or in multiplayer. Players gather resources to survive the monsters that come out at night, and to build homes and creations. Whatever you put your mind to, you can design and create in this game. It is being used in social building projects as well as in many schools around the world. Children as young as 3 are able to play Minecraft. Many families are very happy to have a creative and fun game to play together."<cite class="label label-info">Mojang.com </cite></blockquote>
			<iframe src="http://player.vimeo.com/video/49772320?title=0&amp;byline=0&amp;portrait=0" width="700" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
</template>

<template name="signup">
	<div class="container-signup">
		<div class="container-narrow">
			<h1 class="ribbon_signup" id="signup"></h1>
			<p>
				Please complete this form by filling out your First Name, Last Name and appropriate Leauge. If you are in the Juniors League, you MUST have a partner to be in the competition. If you have chosen a partner, please provide his/her First and Last name. 
			</p>
			<form action="" class="form-horizontal">
				<div class="control-group">
				    <label class="control-label" for="firstName">First Name</label>
				    <div class="controls">
				    	<input type="text" id="firstName" placeholder="First Name" required>
				    </div>
				</div>

				<div class="control-group">
					<label class="control-label" for="lastName">Last Name</label>
				    <div class="controls">
				    	<input type="text" id="lastName" placeholder="Last Name" required>
				    </div>
				</div>

				<div class="control-group">
					<label class="control-label" for="league">League</label>
				    <div class="controls">
				    	<select class="span2" name="inputLeague" id="league">
				    		<option value="Junior">Junior's (Grade 3-5)</option>
				    		<option value="Senior">Senior's (Grade 6-12)</option>
				    	</select>
				    </div>
				</div>

				<div class="control-group">
					<label class="control-label" for="partner">Partner</label>
				    <div class="controls">
				    	<input type="text" id="partner" placeholder="Juniors Only">
				    </div>
				</div>

				<div class="control-group">
				    <div class="controls">
				    	<button type="submit" class="btn btn-success">Register</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
</template>

<template name="rules">
	<div class="container-rules">
		<div class="container-narrow">
			<h1 class="ribbon_regs" id="rules"></h1>
			<div class="row-fluid marketing">
	        	<div class="span6">
	          		<h4>Leagues</h4>
	          		<p>
	          			This competition will be split into two separate leagues. Leagues are arranged by grade group. The grade group <span class="label label-info">3rd to 5th will be the Junior's League.</span> The grade group 6th and above will be the Senior's League.
	          		</p>

		          	<h4>Judging</h4>
		          	<p>
		          		All submissions will be judged according to three categories: <span class="label label-success">The Sculptor, The Architect & The Engineer.</span> The "Da Vinci Award" held for only the most inspiring of talents, will be presented as the most prestigous award.
		          	</p>

	          		<h4>Penalties</h4>
	          		<p>
	          			At no time are participants allowed in an area other than their own. <span class="label label-important">Stay in your area!</span> Also, intentionally adding or removing blocks outside of your area, will result in a disqualification.
	          		</p>
		        </div>

	        	<div class="span6">
					<h4>Teams</h4>
		          	<p>
		          		It is required for the Junior's League that each particpant have one and only one partner. The Senior's League will be a sinlges only league. Teams will not be allowed for Seniors.
		          	</p>
	          		<h4>Server</h4>
	          		<p>
	          			All participants are required to build in the server provided. The server's IP address is <span class="label label-warning">68.195.12.42</span> Only what is created on this server may be submitted for the competition. Flying will be disabled to encourage fair play, and to prevent disqualifications.
	          		</p>

	          		<h4>Section</h4>
	          		<p>
	          			All participants will be <span class="label label-warning">given a section number</span> corresponding to the particular area they will be allowed to build. Creations must not extend the 32 x 32 block bounds, neither above or below ground.
	          		</p>
	        	</div>
	      	</div>
		</div>
	</div>
</template>

<template name="awards">
	<div class="container-awards">
		<div class="container-narrow">
        	<div class="awards">
				<h1 class="ribbon_awards" id="awards"></h1>
				<ul class="award_images">
					<li><img src="surprise.jpg" alt="Surprise" height="200" width="200"></li>
					<li><img src="surprise.jpg" alt="Surprise" height="200" width="200"></li>
					<li><img src="surprise.jpg" alt="Surprise" height="200" width="200"></li>
				</ul>
			</div>
		</div>
	</div>
</template>

<template name="participants">
	<div class="container-parts">
		<div class="container-narrow">
			<h1 class="ribbon_parts" id="parts"></h1>
			<h4>Junior's League</h4>
			<div class="column">
				{{#each juniors}}
					{{> junior}}
				{{/each}}
			</div>
			<h4>Senior's League</h4>
			<div class="column">
				{{#each seniors}}
					{{> senior}}
				{{/each}}
			</div>
		</div>
	</div>
</template>

<template name="junior">
	<div class="container-narrow">
		<ul class="particpant">
			<li class="firstname">{{firstName}}</li>
			<li class="lastname">{{lastName}}</li>
		</ul>
	</div>
</template>

<template name="senior">
	<div class="container-narrow">
		<ul class="senior">
			<li class="firstname">{{firstName}}</li>
			<li class="lastname">{{lastName}}</li>
		</ul>
	</div>
</template>

<template name="footer">
	<footer>
		<div class="container-narrow">
			<p>
				{ 2012-13 } <a href="http://www.twitter.com/natedavidrivera">@NateDavidRivera</a>
			</p>
		</div>
	</footer>
</template>