ul li {
  display: inline;
}

footer {
  padding: 10px 0;
  color: grey;
  background-image: url('/gray_jean.png');
}
  footer p { margin-top: 10px; }

img { margin-left: 15px; }

iframe { 
  margin-bottom: 30px;
  box-shadow: 1px 1px 2px black;
  border: 1px solid black;
}

blockquote { border-left: none; font-style: italic; }

cite { margin-left: 10px; }

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron img { margin-top: 30px; }

/* Supporting marketing content */
.marketing p + h4 {
  margin-top: 28px;
}

/* Container Backgrounds */
.container-intro {
  padding-top: 10px;
  padding-bottom: 30px;
  background: url('/gray_jean.png');
}

.container-minecraft {
  padding: 20px 0 30px 0;
  color: white;
  background-image: url('/stressed_linen.png');
  text-shadow: 2px 2px 1px black;
}
  .container-minecraft p { color: grey; }

.container-rules {
  padding: 30px 0 10px 0;
  background-image: url('/stressed_linen.png');
  color: grey;
  text-shadow: 2px 2px 1px black;
  box-shadow: 2px 2px 3px grey;
}

.container-awards {
  padding: 20px 0 40px 0;
  background: url('/rays.png') no-repeat bottom center, url('/gray_jean.png');
}

.container-signup {
  padding: 20px 0;
  background-image: url('/az_subtle.png');
}
  .container-signup p { margin-bottom: 40px; }

.container-parts {
  padding: 20px 0;
  background-image: url('/stressed_linen.png');
  color: white;
}

.column { 
  max-height: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
}

.awards { margin: 20px 0; text-align: center; }

/* Ribbons */
.ribbon_awards, .ribbon_regs, .ribbon_mine, .ribbon_signup, .ribbon_parts {
  margin: 30px auto;
  height: 75px;
  width: 718px;
}

.ribbon_awards {
  background-image: url('/ribbon_awards.png');
}

.ribbon_regs {
  background-image: url('/ribbon_regs.png');
}

.ribbon_mine {
  background-image: url(/ribbon_mine.png);
}

.ribbon_signup {
  background-image: url(/ribbon_signup.png);
}

.ribbon_parts {
  background-image: url(/ribbon_parts.png);
}

.award_images { margin-left: -10px; }

.firstname, .lastname { color: grey; text-transform: capitalize; }

.marketing {margin-bottom: 30px;}
  .marketing h4 {color: white;}